<td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <td-expansion-panel-group>
        <ng-template ngFor let-category [ngForOf]="categoriesMenu">
          <td-expansion-panel label="{{category.menuTitle}}">
            <a *ngFor="let item of category.menuChild" mat-list-item>
              {{item.menuTitle}}
            </a>
          </td-expansion-panel>
        </ng-template>
      </td-expansion-panel-group>
      <a *ngFor="let item of routes" mat-list-item>
        <mat-icon>{{item.menuIcon}}</mat-icon>
        {{item.menuTitle}}
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon>{{item.menuIcon}}</mat-icon>{{item.menuTitle}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav color="toolbar">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <app-core-navbar flex></app-core-navbar>
    </div>
    <router-outlet name="core"></router-outlet>
    <td-layout-footer>
      <app-core-footer></app-core-footer>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
